body{
    background-color : rgb(127,127,127);
    text-align:center;
    font-family: 'Academy Sans';
}
#critique .word{
    font-size: 10vw;
    font-weight: bold;
}


#critique .form{
        display: flex;
        width: 50%;
        margin: auto;
        justify-content:space-around;
}

#critique .btn{
    text-transform: uppercase;
    display: block;
    background-color: #f0f0f0;
    box-shadow: 0.25em 0.25em #aaa;
    padding: 2em;
    text-decoration: none;
    color: #0e0e0e;
    transition: all ease 0.3s;
}

#critique .btn:hover{
    background-color: #0e0e0e;
    color: #f0f0f0;
    box-shadow: 0.25em 0.25em #eee;
}

#critique.disabled .btn{
    background-color: inherit;
    color: #aaa;
    border: 1px solid #aaa;isabled

}
